<?xml version="1.0" ?>
<launch>

  <!-- Run Bosch BNO055 IMU -->
  <arg name="bosch_config_file" default="$(find bosch_imu_driver)/config/imu_bosch.yaml"/>
  <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen">
    <rosparam file="$(arg bosch_config_file)" command="load"/>
  </node>

	<!-- base_link to imu_link transformation publisher -->
	<node name="base_link_to_imu_link" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link imu_link 200" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bosch_imu_driver)/config/view_imu_rviz.rviz" />

</launch>


